## Question 1: Extracting Tesla Stock Data Using yfinance - 2 points

In [13]:
import yfinance as yf
import pandas as pd

In [14]:
tesla = yf.Ticker("TSLA")
tesla

yfinance.Ticker object <TSLA>

In [18]:
tesla_share_price_data = tesla.history(period = "max").reset_index()

tesla_share_price_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

## Question 2 - Extracting Tesla Revenue Data Using Webscraping - 1 Points

In [30]:
tesla_revenue = tesla_share_price_data['Dividends'].tail()
tesla_revenue

3271    0.0
3272    0.0
3273    0.0
3274    0.0
3275    0.0
Name: Dividends, dtype: float64

## Question 3 - Extracting GameStop Stock Data Using yfinance - 2 Points

In [23]:
gme = yf.Ticker("GME")
gme_data = gme.history(period = "max").reset_index()

gme_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620128,1.693350,1.603296,1.691666,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712707,1.716074,1.670626,1.683250,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683250,1.687458,1.658001,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615921,1.662210,1.603296,1.662210,6892800,0.0,0.0

## Question 4 - Extracting GameStop Revenue Data Using Webscraping - 1 Points

In [26]:
gme_revenue = gme_data['Dividends'].tail()
gme_revenue

5379    0.0
5380    0.0
5381    0.0
5382    0.0
5383    0.0
Name: Dividends, dtype: float64

## Question 5 - Tesla Stock and Revenue Dashboard - 2 Points

In [28]:
make_graph(gme_data)

NameError: name 'make_graph' is not defined

## Question 6 - GameStop Stock and Revenue Dashboard- 2 Points

## Question 7 - Sharing your Assignment Notebook - 2 Points